.frame {
    display:flex;
    margin: 50px auto;
    flex-direction: column;
    gap:10px;

}

.pBox {
    margin:auto;
}

.p1 {
    display:flex;
    margin:0 auto 20px;
    width: 600px;
    gap: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);
    border-radius: 15px;
    padding: 15px;
}

.profilePic {
    width: 50px;
    height: 50px;
    
}

.profilePicBox {
    width: 50px;
}

.editArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap:10px;
}

.writeSpace {
    height: 50px;
    box-sizing: border-box;
    width:100%;
    border: 0;
    outline: none;
    font-size: 25px;
}

.picForUpload {
    width:30px;
    height:30px;
}

.picForUpload:hover {
    cursor:pointer;
}

.line {
    border-top: 1px solid #696767;
    margin: 0;
}

.line2 {
    border-top: 1px solid #696767;
    margin: 0 0 20px 0;
}

.line3 {
    border-top: 1px solid #696767;
    margin: 10px 0 20px 0;
}

.uploadBar {
    display: flex;
}

.postButtonBox {
    width: 80px;
    margin:auto auto;
}

.middleBlankSpace {
    flex-grow: 1;
}

.picForReview {
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 15px;
}

.postText {
    display: none;
}

.postButton {
    background-color: black;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
}